.image-full{
    min-height: 750px;
    border: 1px solid blue;
}
.image-thumb{
    min-height: 150px;
    border: 1px solid red;
}

/*** Posizionamento Freccie ***/
.arrow{
    position: absolute;
    background-color: lightgray;
    padding: 5px;
    border-radius: 50%;
}
.arrow-top{
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.arrow-bottom{
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}